export OBJECT_STORAGE_BUCKET1="zac-demo-bucket1"
export OBJECT_STORAGE_BUCKET2="zac-demo-bucket2"
export OBJECT_STORAGE_REGION="us-west-1"
export OBJECT_STORAGE_S3_TYPE="aws"
export OBJECT_STORAGE_CLUSTER_IP="s3-us-west-1.amazonaws.com"
export OBJECT_STORAGE_CLUSTER_PORT="443"
echo $OBJECT_STORAGE_BUCKET1
echo $OBJECT_STORAGE_BUCKET2
echo $OBJECT_STORAGE_REGION
echo $OBJECT_STORAGE_S3_TYPE
echo $OBJECT_STORAGE_CLUSTER_IP
echo $OBJECT_STORAGE_CLUSTER_PORT

