export OBJECT_STORAGE_BUCKET1="zac-demo-bucket1"
export OBJECT_STORAGE_BUCKET2="demo-bucket2"
export OBJECT_STORAGE_REGION="none"
export OBJECT_STORAGE_S3_TYPE="gfs"
export OBJECT_STORAGE_CLUSTER_IP="104.154.230.8"
export OBJECT_STORAGE_CLUSTER_PORT=31882
echo $OBJECT_STORAGE_BUCKET1
echo $OBJECT_STORAGE_BUCKET2
echo $OBJECT_STORAGE_REGION
echo $OBJECT_STORAGE_S3_TYPE
echo $OBJECT_STORAGE_CLUSTER_IP
echo $OBJECT_STORAGE_CLUSTER_PORT

